<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.productMapper">

    <select id="mainFirstBanner" resultType="kr.re.vo.MainFirstBanner">
        -- mainFirstBanner @productMapper.xml
        select * from app_first_banner where 1 = 1
    </select>

    <select id="mainFirstBannerOne" resultType="kr.re.vo.MainFirstBanner">
        -- mainFirstBannerOne @productMapper.xml
        select * from app_first_banner where 1 = 1 LIMIT #{rownum}, 1
    </select>

    <select id="productOneByParam" resultType="kr.re.vo.Product">
        -- productOneByParam @productMapper.xml
        select * from app_product where 1 = 1
        AND product_id = #{productId}
    </select>

    <select id="product" resultType="kr.re.vo.Product">
        -- product @productMapper.xml   limit 0, 10 -> 하드코딩
        select * from app_product where 1 = 1
        limit 0, 5
    </select>

    <select id="productOne" resultType="kr.re.vo.Product">
        -- productOne @productMapper.xml
        select * from app_product where 1 = 1 LIMIT #{rownum}, 1
    </select>

    <select id="brandOne" resultType="kr.re.vo.Brand">
        -- brandOne @productMapper.xml
        select B.*
        from app_product A
             LEFT OUTER JOIN app_brand B ON A.brand_id = B.brand_id
        WHERE 1 = 1
          AND B.brand_id = #{brandNum}
          LIMIT 1
    </select>

    <select id="userOne" resultType="kr.re.vo.User">
        -- userOne @productMapper.xml
        SELECT * FROM app_user WHERE 1 = 1
        AND user_id = #{sellerId}
    </select>

    <select id="productDeliveryOne" resultType="kr.re.vo.ProductDelivery">
        -- productDeliveryOne @productMapper.xml
        SELECT * FROM app_product_delivery WHERE 1 = 1
        AND delivery_id = #{productDeliveryCode}
    </select>

    <select id="deliveryCompanyOne" resultType="kr.re.vo.DeliveryCompany">
        -- deliveryCompanyOne @productMapper.xml
        SELECT * FROM app_delivery_company WHERE 1 = 1
        AND CODE = #{deliveryCompanyCode}
    </select>

    <select id="productDelivery" resultType="kr.re.vo.ProductDelivery">
        -- productDelivery @productMapper.xml
        select * from app_product WHERE 1 = 1
    </select>

    <select id="brandGET" resultType="kr.re.vo.Brand">
        -- brandGET @productMapper.xml
        select * from app_brand WHERE 1 = 1
    </select>

    <select id="categoryLvResultGET" resultType="kr.re.vo.CategoryLvResult">
        -- categoryLvResultGET @productMapper.xml
        select a.menu_id   AS lv1Id,
               a.menu_name AS lv1,
               b.menu_id   AS lv2Id,
               b.menu_name AS lv2,
               c.menu_id   AS lv3Id,
               c.menu_name AS lv3
        from app_category a,
             app_category b,
             app_category c
        WHERE 1 = 1
          AND a.menu_id = b.menu_parent
          AND b.menu_depth = 3
          AND b.menu_id = c.menu_parent
          AND c.menu_depth = 4
    </select>

    <select id="productOneByPrdId" resultType="kr.re.vo.Product">
        -- productOneByPrdId @productMapper.xml
        select * from app_product where 1 = 1
        AND product_id = #{productId}
    </select>

    <select id="productItemByPrdId" resultType="kr.re.vo.ProductItem">
        -- productItemByPrdId @productMapper.xml
        select * from app_product_item where 1 = 1
        AND product_id = #{productId}
    </select>

    <select id="productTimeSaleByPrdId" resultType="kr.re.vo.ProductTimeSale">
        -- productTimeSaleByPrdId @productMapper.xml
        select * from app_time_sale where 1 = 1
        AND product_id = #{productId}
    </select>

    <select id="productCategoryByPrdId" resultType="kr.re.vo.Category">
        -- productCategoryByPrdId @productMapper.xml
        select *
        from app_category
        WHERE 1 = 1
        AND menu_id = (select menu_id from app_product_category WHERE product_id = #{productId})
    </select>

    <select id="brandListProductGET" resultType="kr.re.vo.Product">
        -- brandListProductGET @productMapper.xml
        select *
        from app_product
        where 1 = 1
        AND brand_id = #{brandId}
        <if test="sort != 0">
            Order by price desc
        </if>
        limit #{page}, 10
    </select>

    <select id="productSearchGET" resultType="kr.re.vo.Product">
        -- productSearchGET @productMapper.xml
        <![CDATA[
        SELECT *
        FROM app_product
        WHERE 1 = 1
          AND PROD_NAME LIKE CONCAT('%', #{searchName}, '%')
           OR PROD_DESC LIKE CONCAT('%', #{searchName}, '%')
        ORDER BY REG_DATE desc
        ]]>
    </select>

    <select id="productTimeSaleOneGET" resultType="kr.re.vo.ProductTimeSale">
        -- productTimeSaleOneGET @productMapper.xml
        select *
        from app_time_sale
        WHERE 1 = 1
        ORDER BY REG_DATE desc
        LIMIT #{rownum}, 1
    </select>

    <select id="productTimeSaleListGET" resultType="kr.re.vo.ProductTimeSale">
        -- productTimeSaleListGET @productMapper.xml
        select *
        from app_time_sale
        WHERE 1 = 1
        ORDER BY REG_DATE desc
    </select>



</mapper>